<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Attack on Titan</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <!-- NAVBAR LEFT -->
    <a href="quiz.html" class="menu-btn">
        <img style="width: 60px; height: 60px;" src="images/start_quiz_active_logo.png">
    </a>
    <a href="dashboard.html" class="menu-btn-2">
        <img style="width: 45px; height: 45px;" src="images/dashboard_logo.png">
    </a>
    <a href="leaderboard.html" class="menu-btn-3">
        <img style="width: 45px; height: 45px;" src="images/leaderboard_logo.png">
    </a>
    <a href="ensiklopedia.html" class="menu-btn-4">
        <img style="width: 45px; height: 45px;" src="images/enskiklopedia_logo.png">
    </a>
    <!-- END NAVBAR LEFT -->


    <div class="container">

        <!-- NAVBAR TOP -->
        <div class="top-bar">
            <span>HELLO, [NAMA USER] !</span>
            <span class="separator">||</span>
            <span>RANK : [RANK SEKARANG]</span>
            <span class="separator">||</span>
        </div>
        <!-- END NAVBAR TOP -->

        <div class="main-card card-with-overlay">

            <div class="quote-section">
                <h1 class="main-quote">"SHINZOU WO SASAGEYO"</h1>
                <h2 class="sub-quote">(DEDIKASIKAN HATIMU UNTUK UJIAN HARI INI)</h2>
            </div>

            <div class="stats-row">
                <div class="stat-box">
                    <h3>KUIS SELESAI:</h3>
                    <p class="stat-value">[ANGKA]</p>
                </div>

                <div class="stat-box">
                    <h3>JAWABAN BENAR:</h3>
                    <p class="stat-value">[ANGKA]</p>
                </div>

                <div class="stat-box">
                    <h3>RANKING:</h3>
                    <p class="stat-value">[ANGKA]</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>