<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register AoT</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/register.css">
</head>
<body>

    <div class="container">
        <img src="images/logo.png" alt="Attack on Titan Logo" class="logo">

        <div class="register-box">
            <h2>REGISTER</h2>

            <form>
                <div class="input-group">
                    <label>EMAIL :</label>
                    <input type="email" autocomplete="off">
                </div>

                <div class="input-group">
                    <label>NEW USERNAME :</label>
                    <input type="text" autocomplete="off">
                </div>

                <div class="input-group">
                    <label>NEW PASSWORD :</label>
                    <input type="password">
                </div>

                <div class="input-group">
                    <label>KONFIRMASI PASSWORD :</label>
                    <input type="password">
                </div>

                <div class="button-container">
                    <a class="register-button" href="dashboard.html" type="button">DAFTAR</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>